# compiled output
/dist
/node_modules

# OS
.DS_Store

# Env files
.env
.env.*
!.env.example

# Test coverage
/coverage

# NestJS build
.build-id
*.tsbuildinfo

/generated/prisma

# Prisma compiled artifacts
prisma/*.js
prisma/*.d.ts
prisma/*.js.map
